/* Navbar.css */

  

  
  
  
  .right {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: center; /* Center items in mobile view */
    width: 100%; /* Ensure the right section takes full width */
  }
  
/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px; /* Reduce padding to fit better on small screens */
  }

  .right {
    flex-direction: column;
    align-items: center;
  }

  .nav_items {
    margin: 5px 0;
  }
}
